.mce-eco-panel-title {
}

.mce-eco-panel-content {
  height: 400;
  width: 700;
  display: flex;
}

.mce-eco-image-cell {
  width: 100px;
  height: 120px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

img.mce-eco-image {
  width: 100px;
}